/* 
--- 01 TYPOGRAPHY SYSTEM
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line Height:
Default:1
Small: 1.05
Medium:1.2
Pragraph default: 1.06
Large:1.8

-Letter Spacing:
-0.5px
0.75px



--- 02 COLOR PALETTE
- Primary Color: #e67e22
-Tints:
#fdf2e9
#fae5d3
#eb984e
-Shades:
#45260a
#cf711f
-Accents:
-Greys: 

- Light Grey: #f1f3f5

--- 05 SHADOWS
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER RADIUS
Default:9px
Medium:11px

--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: raleway, sans-serif;

  /* line-height: 1; */
  /* font-weight: 400; */
}

/****************************/
/* GENERAL REUSABLE COMPONENT */
/****************************/

.container {
  max-width: 120rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}
