/* ******************** */
/* SECTION HERO */
/* ******************** */

.section-hero {
  display: grid;
  grid-template-columns: 25fr 75fr;
}

.side-header {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #040b14;
  height: 100vh;
}

.porfolio-img {
  width: 40%;
  height: auto;
  border-radius: 50%;
  border: 5px solid #494e55;
  margin-top: 2.4rem;
  /* transition: transform 0.3s ease; */
}

.porfolio-text {
  font-size: 2.4rem;
  font-weight: bold;
  color: #f1f3f5;
  margin: 1.6rem 0 0 0;
}

.social-link {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  gap: 1.6rem;
  margin-top: 1.6rem;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #f1f3f5;
}

.social-icon:link,
.social-icon:visited {
  color: #f1f3f5;
  text-decoration: none;
  transition: all 0.3s;
}

.social-icon:hover,
.social-icon:active {
  color: #868e96;
  transform: scale(1.2);
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 1.2rem;
}

.main-nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 1.6rem;
  gap: 4rem;
  font-size: 1.8rem;
}

.main-nav-link {
  color: #f1f3f5;
  text-decoration: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #f1f3f5;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover {
  color: #868e96;
  font-size: 2rem;
}

/* PORFOLIO IMAGE*/

.porfolio-container {
  display: grid;
  position: relative;
}

.side-img {
  width: 100%;
  height: 100vh;
  /* object-fit: cover; */
  z-index: -2;
}

.name {
  position: absolute;
  top: 35%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #f1f3f5;
  transform: translate(-50%, -50%);
  font-size: 2.4rem;
  font-weight: 700;
  font-family: inherit;
}

.job-description {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #f1f3f5;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  font-weight: 400;
  font-family: inherit;
}

/* ABOUT SECTION */

.about {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 9.6rem;
}

.about h2 {
  padding: 1.6rem;
  font-size: 2.4rem;
  letter-spacing: 1.6;
  font-weight: 700;
  color: #040b14;
  text-align: center;
}

.about h3 {
  padding: 1.6rem;
  font-size: 2rem;
  font-weight: 700;
  color: #040b14;
  text-align: center;
}

.about p {
  padding: 0 1.6rem;
  font-size: 1.8rem;
  line-height: 1.6;
  color: #040b14;
  text-align: justify;
}

.about ul {
  padding: 1.6rem;
  font-size: 1.8rem;
  line-height: 1.6;
  color: #040b14;
  text-align: justify;
  list-style: none;
  display: flex;
  flex-direction: column;
}
