h1 {
  text-align: center;
  color: rgb(227, 240, 52);
  font-size: 40px;
  font-family: cursive;
  background-color: black;
}

.flex-container {
  display: flex;
  column-gap: 100px;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(22, 21, 13);
  border-radius: 25px;
  height: 350px;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: #e6e3cc;
  box-shadow: 6px 5px 10px;
  color: rgb(143, 113, 143);
  padding: 10px;
  margin-top: 40px;
}

.flex-container1 {
  text-align: left;
  background-color: rgb(244, 245, 239);
  padding: 30px;
  margin: 20px;
  border-radius: 5%;

  font-family: cursive;
}

/* button {
  width: 100%;
  height: 40px;
  text-align: left;
  background-color: rgb(189, 182, 174);
  cursor: pointer;
  font-family: cursive;
  border-radius: 5px;
} */

a {
  background-color: rgb(241, 154, 40);
  width: 60px;
  cursor: pointer;
  border-radius: 5px;
  font-family: cursive;
  text-decoration: none;
}
